# Variable and Data Types <hr style = "border : 2.5px solid #126782"></hr>

Data Analyst: John Lester A. Acaso <br>
Department: Electrical Engineering

In [1]:
apple = 400
apple

400

In [2]:
type(apple)
apple

400

In [3]:
pie = 3.14
pie

3.14

In [4]:
type(pie)
pie

3.14

In [5]:
grade = 'A'
grade

'A'

In [6]:
type(grade)

str

In [8]:
is_active = True
is_active

True

In [9]:
type(is_active)

bool

In [10]:
message = "Hello,World"
message

'Hello,World'

In [11]:
type(message)

str

# Data Structures

# List

In [12]:
fruits = ["apple","orange","grapes"]
fruits

['apple', 'orange', 'grapes']

In [13]:
type(fruits)

list

In [14]:
fruits[1]

'orange'

In [17]:
fruits [1] = "mango"

In [18]:
fruits

['apple', 'mango', 'grapes']

# Turple

In [19]:
fruits = ("apple","orange","grapes")
fruits

('apple', 'orange', 'grapes')

In [20]:
type(fruits)

tuple

In [21]:
fruits [0]

'apple'

In [23]:
fruits [0] = "mango"

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [24]:
employee = {"name" : "Ada",
            "age":25,
            "city" : "New York"}
employee

{'name': 'Ada', 'age': 25, 'city': 'New York'}

In [25]:
type(employee)

dict

In [26]:
employee ["age"]

25

In [28]:
employee ["age"] = 30

In [29]:
employee

{'name': 'Ada', 'age': 30, 'city': 'New York'}