# For Loop <hr style = "border : 2.5px solid #126782"></hr>

# Data Analys: John Lester A. Acaso <br> Department: Electrical Engineering

# Iterating Over a List

In [1]:
# at index 0, i = "apple"
fruits = ["apple","orange","grapes"]

for i in fruits:
    print(i)

apple
orange
grapes

In [3]:
# at index 0, n = 1
numbers = [1,2,3,4,5,6,7,8,9,10]

for n in numbers:
    print(n)

1
2
3
4
5
6
7
8
9
10

In [4]:
# start at 1, ends at 10 (exclusive), steps by 3
for j in range(1,10,3):
    print(j)

1
4
7

# Iterating  Over a Dictionary

In [5]:
# at index 0, char = 'P'
for char in "Python":
    print(char)

P
y
t
h
o
n

In [8]:
employee = {"name":"Ada",
            "position":"analyst",
            "Salary":80000}

# starts at key = "name"
for key in employee:
    print(key)

# starts at value = "Ada"
for value in employee.values():
    print(value)

name
position
Salary
Ada
analyst
80000